librosa==0.11.0
pytorch-lightning==2.6.1
lightning==2.6.1
transformers==4.49.0
moviepy==1.0.3
numpy==1.26.4
openai>=1.55.3,<2
opencv-python==4.10.0.84
openpyxl==3.1.5
pandas==2.2.3
pydub==0.25.1
PyYAML==6.0.3
replicate==0.33.0
requests==2.32.5
resampy==0.4.3
spacy==3.8.11
streamlit==1.49.1
yt-dlp
json-repair
ruamel.yaml
InquirerPy
autocorrect-py
ctranslate2>=4.4.0,<5
edge-tts

demucs[dev] @ git+https://github.com/adefossez/demucs
whisperx @ git+https://github.com/m-bain/whisperx.git@7307306a9d8dd0d261e588cc933322454f853853

syllables
pypinyin
g2p-en
xmltodict

